p {
    font-weight: bold;

}

#source {
    font-style:italic;
}

nav a {
    color: grey;
    text-decoration:none;
    padding:20px;
    border-style:solid;
    text-transform: uppercase;
    font-style:oblique;
    
}
html{
    margin-left: 30px;
}

footer{
    background-color: grey;
}